<div>
    <p><strong>Name:</strong> @Employee.Name</p>
    <p><strong>Surname:</strong> @Employee.Surname</p>
    <p><strong>Birth date:</strong> @Employee.BirthDate</p>
    <p><strong>Position:</strong> @Employee.Position?.PositionName</p>
    <p><strong>Ip address:</strong> @Employee.IpAddress</p>
</div>
